:root {
    color-scheme: light dark;
    --bg-color: rgb(250,250,250);
    --fg-color: black;
}

body {
  font-family: 'Tenor Sans', sans-serif;
  margin: auto;
  max-width: 1280px;
  
  background-color: var(--bg-color);
  color: var(--fg-color);
  
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.title {
    font-size: xx-large;
    white-space: nowrap;
}

a.social {
    text-decoration: none;
}

.networks {
    text-align: center;
}

.social img {
    padding: 0 8px;
    width: 18px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: rgb(250,250,250);
        --bg-color: black;
    }

    img[src*=".svg"] {
        filter: invert(100%);
    }

    img[src*=".svg"]:hover {
        filter: invert(60%);
    }
}
