:root {
    color-scheme: light dark;
    --bg-color: white;
    --fg-color: black;
}

body {
  font-family: 'Tenor Sans', sans-serif;
  margin: auto;
  max-width: 1280px;
  
  background-color: var(--bg-color);
  color: var(--fg-color);
  
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.title {
    font-size: xx-large;
    white-space: nowrap;
}

a.social {
    text-decoration: none;
}

.networks {
    text-align: center;
}

.social img {
    padding: 0 8px;
    width: 24px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: white;
        --bg-color: black;
    }

    .social img {
        filter: invert(1);
    }
}
