body {
  font-family: 'Tenor Sans', sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #AA8356;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

h1 {
    font-size: xx-large;
}

a.social {
    text-decoration: none;
}

.networks {
    text-align: center;
}

.social img {
    padding-right: 0 8px;
    width: 18px;
    filter: invert(1);
}
